* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #FDF4E4;
}

.header {
    background-color: #FBF3D5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo-image {
    width: 270px;
    height: auto;
    padding: 5px;
}

/* Search Bar */
.search-bar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    padding: 10px;
}

.search-bar input {
    width: 410px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar input::placeholder {
    text-align: center;
}

.search-icon {
    font-size: 20px;
}

/* Navigation */
.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 15px;
}

.nav ul li a:hover, .nav ul li a.active {
    background-color: #D5A574;
    color: #fff;
    border-radius: 15px;
}

.nasi-goreng-resep {
    margin: 50px;
    height: 500px;
    background-color: green;
}

.nasi-goreng-img {
    height: 300px;
    float: left;
    margin: 50px;
}


h2 {
    margin-top: 50px;
}

.nasi-goreng-resep > p{
    clear: both;
}


/* Footer */
.footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}